body {
margin: 0px 100px;
}
h1 {
  -align: center;
}
.navigation {
display:flex;
  /*  display: inline-block;
vertical-align: top; */
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}
nav {
  width: 73%;
  padding: 1%;
}
ul {
  width: 50%;
  margin-left: auto;
}
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 500px;
  margin: 0 auto;
}
.flexContainer {
  display:flex;
}
.flexContainer div {
 width: 33%;
 background-color: grey;
 border-radius: 5px;
}
.flexContainer div img{
height: 100px;
width: 100px;
margin-left: auto;
margin-right: auto;
display: block;
}
.workGrid {
  display:grid;
}
.item1 {
  grid-area: myArea;
}
.grid-container {
  display:grid;
  grid-template-areas:'myArea myArea myArea myArea myArea';
}


footer{
  background-color: #373738;
  padding: 0 20px 0 20px;
}
footer ul {
  display: inline-block;
  vertical-align: top;
  padding: 0 250px 0 250px;
}

@media only screen and (max-width: 600px){
  .flexContainer { 
    flex-direction: column;
  }
  .flexContainer div {
    width: 100%;
  }
}




